{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    [
      "babel-plugin-transform-runtime",
      {
        "polyfill": false
      }
    ],
    [
      "transform-runtime",
      {
        "polyfill": false
      }
    ], 
    [
      "import",
      [
        {
          "style": "css",
          "libraryName": "antd"
        }, 
        {
          "style": false,
          "libraryName": "antd-mobile"
        }
      ]
    ]
  ]
}